body{
    font-family: 'Merriweather', serif;
}

.spazio{
    height: 2rem;
}

.masthead {
    height: 70vh;
    min-height: 500px;
    background-image: url('/public/img/sfondo_sito.jpg') ;
    background-size: cover;
    background-position: center;
}

svg{
    bottom: 196px;
    position: absolute;
}

.color-text{
    color: white;
    font-weight: 700;
}

.containers{
    width: 200px;
    height: 60px;
    position: absolute;
    left: 80%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.circle{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #dfb79e;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1);
    }
    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0%;
    }
}

.circle:nth-child(2){
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3){
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow{
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(220, 91, 81, .5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0% {
        transform: scaleX(1.5);
    }
    40% {
        transform: scaleX(1);
        opacity: .7;
    }
    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5){
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.sfondo-form{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.533) 0%, rgba(255,253,253,0.7203256302521008) 100%, rgba(0,212,255,1) 100%);
}

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 26rem;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    padding: 1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1.5em;
    margin: 0 0 .3em;
    color: #000;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;  
    font-size: .8em; 
    color: #000;  
  }
  
  .card__status {
    font-size: 1em;
    color: #000;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #000; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  } 
  
  .sfondo-card{
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.533) 0%, rgba(255,253,253,0.7203256302521008) 100%, rgba(0,212,255,1) 100%);
}

.sfondo-register{
  height: 38rem;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.533) 0%, rgba(255,253,253,0.7203256302521008) 100%, rgba(0,212,255,1) 100%);
}

.sfondo-user{
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.533) 0%, rgba(255,253,253,0.7203256302521008) 100%, rgba(0,212,255,1) 100%);
}


















@media only screen and (max-width: 768px) {
    .containers{
        left: 50%;
        top: 180%;
    }

    svg{
        display: none;
    }
}

